* {
	padding: 0;
	margin: 0;
	-webkit-box-sizing: border-box;
	        box-sizing: border-box;
}
body {
	font-family: 'Roboto', sans-serif;
	font-size: 14px;
	color: 
}
input {
	-webkit-transition: all 0.4s ease;
	-o-transition: all 0.4s ease;
	transition: all 0.4s ease;
}

.container-fluid {
	max-width: 100%;
	text-align: center;
}
.budget {
	background-image: url("../images/bg_budget.jpg");
	background-size: cover;
	background-position: 0 70%;
	padding: 40px 0;
	background-repeat: no-repeat;
}
.budget .budget-title {
	color: #fff;
}	
.budget .budget-title h1{
	margin: 0;
	font-weight: 500;
	font-size: 18px;
}	
.budget .total-budget {
	margin-top: 20px;
	font-size: 35px;
	color: #fff;
	font-weight: 400;
}
.budget .income, .budget .expenese {
	width: 350px;
	padding: 10px;
	color: #fff;
	font-size: 18px;
	margin: 0 auto;
	margin-top: 20px;
	display: block;
}
.budget .income {
	background-color: #9ea5c7;
}
.budget .expenese {
	background-color: #c33d3d;
	margin-top: 15px;
}
.budget .label {
	color: #000;
	display: inline-block;
	float: left;
	text-transform: uppercase;
	vertical-align: top;
	font-size: 16px;
}
.budget .total {
	display: inline-block;
	vertical-align: top;
	float: right;
	padding-right: 50px;
}
.clearfix {
	clear: both;
}
.form-group {
	padding: 10px 0;
	background: #eee;
	border-bottom: 1px solid #ccc;
}
[class^="custom-"] {
	margin: 0 3px;
}
.custom-select {
	height: 35px;
	border-radius: 3px;
	padding: 3px 5px;
	border: 1px solid #ccc;
	outline: none;
	display: inline-block;
	vertical-align: top;
}
.custom-input {
	height: 35px;
	border-radius: 3px;
	border: 1px solid #ccc;
	outline: none;
	display: inline-block;
	vertical-align: top;
}
.custom-input:hover {
	border: 1px solid red;
}
.custom-input.input-des {
	width: 350px;
	padding-left: 10px;
}
.custom-input.input-money {
	width: 100px;
	padding-left: 5px;
	padding-right: 5px;
}
.custom-btn {
	color: red;
	height: 35px;
	font-size: 25px;
	background-color: transparent;
	border: none;
	text-align: center;
	display: inline-block;
	vertical-align: top;
}
.show-budget {
	font-size: 0;
	width: 70%;
	margin: 0 auto;
	text-align: left;
	margin-top: 50px;
}
.show-income, .show-expenese {
	font-size: 16px;
	display: inline-block;
	width: 50%;
	padding: 0 10px;
	vertical-align: top;
}
.show-income .show-title h1, .show-expenese .show-title h1 {
	margin: 0;
	font-size: 16px;
	text-transform: uppercase;
	border-bottom: 1px solid #eee;
	padding: 10px 0;
}
.show-income .show-title h1 {
	color: #3e3eab;
}
.show-expenese .show-title h1 {
	color: #c13737;
}

.show-content {
	font-size: 14px;
	color: #000;
	border-bottom: 1px solid #eee;
	padding: 10px;
	-webkit-transition: all .5s;
	-o-transition: all .5s;
	transition: all .5s;
}
.show-content [class^="show-"] {
	display: inline-block;
	vertical-align: middle;
}
.show-content .show-des {
	float: left;
}
.show-content .show-money {
	float: right;
	font-size: 18px;
	font-weight: 500;
	color: #6464ab;
	padding-right: 10px;
	-webkit-transition: all .5s;
	-o-transition: all .5s;
	transition: all .5s;
}
.show-expenese .show-content .show-money {
	color: red;
}
.show-content:hover .show-money:after {
	content: "\f166";
	font-family: "Ionicons";
	cursor: pointer;
	font-size: 18px;
	padding-left: 10px;
}
